## OTHER ##
.deps
.libs
.dirstamp
.html
.DS_Store
*.pyc
*.cache
*.html
*.la
*.lo
*.log
*.m4
*.o
*.swp
*.orig
*~
tags
*.so*
*/Makefile
rtrlib/rtrlib.h
rtrlib/config.h
tools/rpki-rov
tools/rtrclient

## CMAKE ##
cmake_uninstall.cmake
CTestTestfile.cmake
Testing/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
rtrlib.pc

## REDHAT ##
redhat/BUILD
redhat/BUILDROOT
redhat/RPMS
redhat/SOURCES
redhat/SRPMS

## Jetbrains ##
.idea
cmake-build-debug
cmake-build-release

