#!/usr/bin/make -f

export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk
CFLAGS+=$(CPPFLAGS)
CXXFLAGS+=$(CPPFLAGS)

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG
override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_SKIP_RPATH=True
override_dh_strip:
	dh_strip -prtr-tools --dbg-package=rtr-tools-dbg
	dh_strip -plibrtr0 --dbg-package=librtr-dbg
override_dh_auto_test:

%:
	dh $@
